body{
    background-color: #1d2127;
    color:#fff;
    font-family: "Overpass Mono",monospace;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0 0 0 8px;
    padding-top: 8px;
}

.bar {
    background-color: #464b55;
    padding: 10px 40px; /* Un poco más de aire a los lados */
    display: flex;
    justify-content: space-between; /* Esto separa el logo de los links */
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s; /* Animación suave */
}

.nav-links a:hover {
    color: #61afef; /* El azul que ya usas en tus posts */
}

.container{
    margin-top: 30px;
    padding: 0 60px 0 60px;
}

.post{
    background-color: #282c34;
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
}

.post h4{
    color:#98c379
}

.post span{
    color:#61afef;
}